@font-face {
  font-family: corben;
  src: url("Corben-Regular.ttf") format("ttf");
}  

body {
  color: #bbc3ba;
  font-family: corben;
  background: black url("Images/Wallpapers/fin3.webp") no-repeat 50% 5%;
  margin: 0;
}

a {
  color: #bbc3ba;
}

a:visited {
  color: #bbc3ba;
}

a:hover {
  color: #ccd4cb;
}

marquee {
  color: cyan;
}

h3 {
margin: 0 0 -5px 0;
}

/* Structure */

#total{ 
   background-color:rgba(68, 60, 69, 0.77);
   width: 90% /* 1000px */;
   margin: 50px auto;
   overflow: auto; /* this i used to fix the weird margin issues */
   outline: groove #bbc3ba;
   border-radius: 15px;
   box-shadow: 4px 4px 3px 1px;
}

#heading {
   clear: both;
   width: 90%;
   /* height: 100px; */
   margin: 20px auto 0 auto;
   /* background: #443c45 url("Images/background.png") round top/77px 66px; 
   outline: groove #443c45 2px; 
   border-radius: 10px;
   box-shadow: 5px 5px 3px 1px #000; */
}

#content {
   width: 95%;
   margin: 2% auto 100px auto;
   clear: both;
}

#content-left {
   float: left; 
   width: 14.5%; 
}

#cl-content {
   background-color:#443c45;
   outline: groove #443c45 2px;
   border-radius: 10px;
   box-sizing: border-box; /* this only exists because the padding would add width to the original div */
   padding: 5px 5px;
   background: #443c45 url("Images/background.png") round top/77px 66px;
}

#content-right {
   float: right; 
   width: 84.5%;
   background-color:#443c45;
   outline: groove #443c45 2px;
   border-radius: 10px;
   box-sizing: border-box; /* this only exists because the padding would add width to the original div */
   padding: 10px 10px; 
   background: #443c45 url("Images/background.png") round top/77px 66px;
}

#footer {
  clear: both;
  margin: 0 auto 20px auto; 
}

/* Classes */

.image {
  display: block; /* the type of display used by default doesn't allow for centering */
  margin: auto;
}

/* IDs */

#logo {
  position: center;
  width: 95%;
  /* width: 90px;
  height: 80px; */
}

#title{
  color: #bbc3ba;
  text-align: center;
}

#button{
  float: left;
  margin: 10px 10px;
}

/* webring */

.webring-table {
  table-layout: fixed;
  width: 92%;
  background: #443c45 url("Images/background.png") round right/66px 77px;
  /* border-collapse: collapse; */
  border-radius: 10px;
  border: groove #443c45 3px;
  overflow: hidden;
  margin: 4%;
  box-shadow: 3px 3px 2px 1px #000;
}

.webring-table-tr, .webring-table-td {
  /* border-collapse: collapse; */
  vertical-align: top;
}

.webring-site-section {
  /* max-width: 15em; */
  text-align: left;
}

.webring-site-label {
}

.webring-site-link-container {
}

.webring-site-description-container {
  font-style: italic;
}

.webring-header-container {
  text-align: center;
}