@font-face {
    font-family: 'ProggyClean';
    src: url("Fonts/ProggyClean/ProggyClean.ttf") format("truetype");
    src: url("Fonts/ProggyClean/ProggyClean.otf") format("opentype");
    /* src: url("Fonts/ProggyClean/ProggyCleanCE.ttf") format("truetype"); */
}


body {
    color: #bbc3ba;
    font-family: ProggyClean;
    background: black url("Images/Wallpapers/fin3.webp") no-repeat 50% 5%;
    margin: 0;
    overflow: hidden;
  }
  
  p {
    font-size: 1em;
    margin: 0 auto;
    
  }
  
  a {
    color: #bbc3ba;
  }
  
  a:visited {
    color: #bbc3ba;
  }
  
  a:hover {
    color: #ccd4cb;
  }
  
  marquee {
    color: cyan;
  }
  
  h3 {
    margin: 0 0 -5px 0;
  }
  
  /* Structure */
  
#total{ 
  background-color:rgba(68, 60, 69, 0.77);
  width: 90vw;
  height: 90vh;
  margin: 5vh auto;
  overflow: auto; /* this i used to fix the weird margin issues */
  outline: groove transparent;
  border: groove #bbc3ba;
  border-radius: 15px;
  box-shadow: 4px 4px 3px 1px;
}  

#logo {
  float: left;
  width: 80vw;
  height: 60vw;
  margin: 2vh auto 0 15px;
}

#left {
  float: left; 
  width: 86vw;
  height: auto;
  margin: 0 2vw 2vh 2vw;
  outline: groove transparent 4px;
  border-radius: 10px;
  box-sizing: border-box; /* this only exists because the padding would add width to the original div */
  border: groove #443c45 4px;
  padding: 1px 1px;
  background: #443c45 url("Images/Wallpapers/ba.png") center;
  overflow: auto;
  text-align: center;
}

#right {
  float: both; 
  width: 86vw;
  overflow: hidden;
  box-sizing: border-box; /* this only exists because the padding would add width to the original div */
  margin: 5px 2vw;
}

#navigation{
 height: auto;
 padding: 0 5px;
 margin: 0 0 5px 0;
 outline: groove transparent 4px;
 box-sizing: border-box;
 border: groove #443c45 4px;
 border-radius: 10px;
 background: #443c45 url("Images/Wallpapers/ba.png") center top;
}

#content {
  padding: 10px 10px; 
  box-sizing: border-box; /* this only exists because the padding would add width to the original div */
  outline: groove transparent 4px;
  border: groove #443c45 4px;
  border-radius: 10px;
  background: #443c45 url("Images/Wallpapers/ba.png") center top;
}

  
.image {
  display: block; /* the type of display used by default doesn't allow for centering */
  margin: auto;
}

.button{
  margin: auto;
}

@media(min-width: 800px){

  #total{ 
     background-color:rgba(68, 60, 69, 0.77);
     width: 800px;
     height: 90vh;
     margin: 5vh auto;
     overflow: hidden; /* this i used to fix the weird margin issues */
     outline: groove transparent;
     border: groove #bbc3ba;
     border-radius: 15px;
     box-shadow: 4px 4px 3px 1px;
  }  

  #logo {
    float: left;
    height: 75px;
    width: 100px;
    margin: 2vh auto 0 15px;
  }

  #left {
     float: left; 
     width: 100px;  
     height: calc(86vh - 75px);  
     margin: 0 auto 2vh 15px;   

     outline: groove transparent 4px;
     border: groove #443c45 4px;
     border-radius: 10px;
     box-sizing: border-box; /* this only exists because the padding would add width to the original div */
     padding: 1px 1px;

     background: #443c45 url("Images/Wallpapers/ba.png") center;
     overflow: auto; 
  }
  
  #right {
     float: right; 
     width: 660px;
     height: 86vh; 
     overflow: hidden;
     box-sizing: border-box; /* this only exists because the padding would add width to the original div */
     margin: 2vh 15px 2vh auto;
  }

  #navigation{
    height: 40px;
    padding: 0 5px;
    margin: 0 0 15px 0;
    outline: groove transparent 4px;
    box-sizing: border-box;
    border: groove #443c45 4px;
    border-radius: 10px;
    background: #443c45 url("Images/Wallpapers/ba.png") center top;
  }

  #content {
     height: calc(86vh - 56px);
     padding: 10px 10px; 
     box-sizing: border-box; /* this only exists because the padding would add width to the original div */
     outline: groove transparent 4px;
     border: groove #443c45 4px;
     border-radius: 10px;
     background: #443c45 url("Images/Wallpapers/ba.png") center top;
  }

  .image {
    display: block; /* the type of display used by default doesn't allow for centering */
    margin: auto;
  }

  .button{
    float: both;
    margin: auto;
  }
}


  /* Classes */
  
  
  /* IDs */
  
  
  #title{
    color: #bbc3ba;
    text-align: center;
  }
  
  /* webring */
  
  .webring-table {
    table-layout: fixed;
    width: 92%;
    background: #443c45 url("Images/Wallpapers/bb.png") center;
    /* border-collapse: collapse; */
    border-radius: 10px;
    border: groove #443c45 3px;
    overflow: hidden;
    margin: 4%;
    box-shadow: 3px 3px 2px 1px #000;
  }
  
  .webring-table-tr, .webring-table-td {
    /* border-collapse: collapse; */
    vertical-align: top;
  }
  
  .webring-site-section {
    /* max-width: 15em; */
    text-align: left;
  }
  
  /*
  .webring-site-label {
  }
  
  .webring-site-link-container {
  }
  */
  
  .webring-site-description-container {
    font-style: italic;
  }
  
  .webring-header-container {
    text-align: center;
  }